#nearby-gyms-map {
    height: 100%;
    width: 100%;
}

#set-location-button {
    width: 100%;
}

#nearby-gym-search-list {
    overflow-y: auto;
    height: 90vh;
    scrollbar-width: thin;
    /* TODO: This does not work on Safari. Find alternative in the future */
}

#nearby-gym-search-form {
    height: 5vh;
    margin-bottom: 2vh;
}

#set-gym-location-span {
    padding: 0 0;
}

.bookmark-gym-button {
    padding: 0 0;
}

/* Removing input number arrows */
#postal-code-gym-search::-webkit-outer-spin-button,
#postal-code-gym-search::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Removing input number arrows for Firefox */
#postal-code-gym-search[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.bookmarked-icon {
    color: #1b50e2;
}

.icon-single-bounce {
    --fa-animation-iteration-count: 1;
}

.gym-rating-star {
    color: #FFD43B;
}

@media (max-width: 768px) {
    #nearby-gym-search-list {
        height: 80vh;
        width: 100%;
        overflow: visible;
    }

    #nearby-gym-search-form {
        height: 5vh;
        width: 100%;
    }

    #nearby-gyms-map {
        visibility: hidden;
    }
}

/* XL Screens (Large Laptops/Desktop Monitors) */
@media (min-width: 1200px) {
    #nearby-gyms-map {
        max-height: 65vh;
    }

    #nearby-gym-search-list {
        max-height: 55vh;
    }

    #nearby-gym-search-form {
        height: 5vh;
        width: 100%;
        margin-bottom: 0;
    }

    #nearby-gyms-results-header {
        padding-top: 1vh;
    }
}

@media (max-height: 600px) {
    #nearby-gyms-results-header {
        padding-top: 5vh;
    }
}