#nearby-gyms-map {
    height: 100%;
    height: 50vh;

}

#set-location-button {
    width: 100%;
}

#nearby-gym-search-list {
    overflow-y: auto;
    height: 50vh;
    scrollbar-width: thin; /* TODO: This does not work on Safari. Find alternative in the future */
}

#nearby-gym-search-form {
    height: 5vh;
}

#set-gym-location-span {
    padding: 0 0;
}

.bookmark-gym-button {
    padding: 0 0;
}

/* Removing input number arrows */
#postal-code-gym-search::-webkit-outer-spin-button,
#postal-code-gym-search::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Removing input number arrows for Firefox */
#postal-code-gym-search[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.bookmarked-icon {
    color: #1b50e2;
}

.icon-single-bounce {
    --fa-animation-iteration-count: 1;
}

.gym-rating-star {
    color: #FFD43B;
}