.title-link:hover {
    color: black;
    text-decoration: underline;
}

.title-link {
    color: grey;
    text-decoration: none;
}


#view-btn, #archive-btn {
    display: inline-block;
}

.suggestion-button {
    display: block;
}