.title-link:hover {
    color: black;
    text-decoration: underline;
}

.title-link {
    color: grey;
    text-decoration: none;
}


#view-btn, #archive-btn {
    display: inline-block;
}

.suggestion-button {
    display: block;
}

#del-form {
    display: inline-block;
}

.title-w-btn {
    display: inline-block;
}

.inl-bl {
    display: inline-block;
}

.meal-list {
    list-style-type: none;
}