.user-profile {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* XL Screens (Large Laptops/Desktop Monitors) */
@media (min-width: 1200px) {
    .container {
        max-width: 90vw; /* or try 80vw for even less space */
    }
}