@inject Microsoft.AspNetCore.Mvc.Rendering.IHtmlHelper HtmlHelper

<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")" asp-controller="UserPage" asp-action="Index">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "FindNearbyGyms" ? "active" : "")" asp-controller="Gym" asp-action="FindNearbyGyms">Gyms</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Settings" ? "active" : "")" asp-controller="UserPage" asp-action="SettingsView">Settings</a>
    </li>
</ul>