@model GymBro_App.ViewModels.BookmarkedGymsView
@{
    ViewData["Title"] = "My Gyms";
}

<div class="">
    <h1 class="mb-4 pt-4">My Gyms</h1>
    <hr />
    <div>
        <partial name="_ProfileNav" />
    </div>
    <div>
        <div class="row g-3">
            @foreach (var gym in Model.AllGyms)
            {
                <div class="col-md-4">
                    <div class="card text-decoration-none text-dark diplayed-gym-card">
                        <div class="card-body">
                            <h5>@gym.DisplayName.Text</h5>
                            <p class="card-text">@gym.FormattedAddress</p>
                            <div class="d-flex flex-column mb-3">
                                @foreach (var day in gym.RegularOpeningHours.WeekdayDescriptions)
                                {
                                    <p class="card-text my-1">@day</p>
                                }
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <a target="_blank" rel="noopener noreferrer" href="@gym.WebsiteUri" class="text-decoration-none text-dark">
                                    <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i> View Gym Website
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*  public DisplayName DisplayName { get; set; } = new DisplayName();
    public string FormattedAddress { get; set; } = "";
    public RegularOpeningHours RegularOpeningHours { get; set; } = new RegularOpeningHours();
    public string WebsiteUri { get; set; } = "";
    public string Name { get; set; } = "";
*@