@model GymBro_App.ViewModels.UserInfoModel;
@{
    ViewData["Title"] = "Change Info";
}

<div class="">
    <h1 class="mb-4 pt-4">My Gyms</h1>
    <hr/>
    <div>
        <partial name="_ProfileNav" />
    </div>
    <div>
        
    </div>
</div>