@model GymBro_App.ViewModels.BookmarkedGymsView;
@{
    ViewData["Title"] = "Change Info";
}

<div class="">
    <h1 class="mb-4 pt-4">My Gyms</h1>
    <hr/>
    <div>
        <partial name="_ProfileNav" />
    </div>
    <div>
        <p>You have @Model.AllGyms.Count gyms favorited.</p>
        @foreach (var gym in Model.AllGyms)
        {
            <p>@gym.ApiGymId</p>
        }
    </div>
</div>