@model GymBro_App.ViewModels.UserInfoModel;
@{
    ViewData["Title"] = "SettingsView";
}

<div class="">
    <h1 class="mb-4 pt-4">Settings</h1>
    <hr/>
    <div>
        <partial name="_ProfileNav" />
    </div>
    <div>
        <form asp-controller="UserPage" asp-action="UpdateSettings" method="post" >

        </form>
    </div>
    
</div>