<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymBro_App</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymBro_App.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Sidebar / Navbar -->
    <nav class="navbar navbar-expand-lg top-navbar">
        <div class="navbar-brand mx-auto">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/GymBro Logo 2.png" alt="GymBro Logo" class="navbar-logo" /></a>
        </div>
        <div class="container-fluid justify-content-between align-items-center">
            <partial name="_NavbarTop" />
        </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
      @RenderBody()
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a35698964c.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>