<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymBro_App</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymBro_App.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Sidebar / Navbar -->
    <nav class="navbar navbar-expand-lg top-navbar">
        <div class="navbar-brand mx-auto">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/GymBro Logo 2.png" alt="GymBro Logo" class="navbar-logo" /></a>
        </div>
        <div class="container-fluid justify-content-between align-items-center">
            <ul class="navbar-nav flex-row flex-grow-1 justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FitBit Features
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li class="dropdown-item nav-item"><a class="nav-link" asp-controller="AwardMedal" asp-action="AwardMedals">Step Medals</a></li>
                        <li class="dropdown-item nav-item"><a class="nav-link" asp-controller="StepCompetition" asp-action="Index">Step Competition</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2"><a class="nav-link" asp-controller="MealPlan" asp-action="Index">Meal Plan</a></li>
                <li class="nav-item mx-2"><a class="nav-link" asp-controller="Workouts" asp-action="Index">Workout Plan</a></li>
                
                
                <li class="nav-item mx-2"><partial name="_LoginPartial" /></li>
            </ul>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
      @RenderBody()
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a35698964c.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>