<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymBro_App</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymBro_App.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Sidebar / Navbar -->
    <nav class="navbar">
        <div class="nav-brand">GymBro</div>
        <button class="nav-toggle">&#9776;</button>
        <ul class="nav-links">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
           <li><a asp-controller="UserPage" asp-action="Index">User Page</a></li>
            <li><a asp-controller="MealPlan" asp-action="Index">Meal Plan</a></li>
            <li><a asp-controller="Workouts" asp-action="Index">Workout Plan</a></li>
            <li><a asp-controller="AwardMedal" asp-action="AwardMedals">Check Medals</a></li>
        </ul>
        <div class="login-partial">
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
      @RenderBody()
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>