<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Use this layout to maintain the site's basic styling, but things like the navbar -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/minimalSite.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymBro_App.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- Page Content -->
    <div class="content">
      @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>