@{
    ViewData["Title"] = "Connect Fitbit";
}

<h1>Connect Your Fitbit</h1>
<p>To track your steps and earn medals or particapate in steps competitions you need to connect your Fitbit account.</p>

<a asp-controller="FitbitAPI" asp-action="RedirectToFitbit">Connect Fitbit</a>
