<!-- TODO: Make this a Meal Creation form instead of food search -->

@{
    ViewData["Title"] = "Add Food";
}

<h2>Add Food</h2>
<form>
    <input type=text id="searchBar">
    <button class="btn btn-primary" type="button" id="searchButton">Search</button>
</form>
<div id="searchResults">
</div>


<script src="~/js/foodSearch.js"></script>
