<!-- TODO: Make this a Meal Creation form instead of food search -->
@model List<GymBro_App.DTO.FoodDTO?>

@{
    ViewData["Title"] = "Add Food";
}

<h2>Create Meal</h2>
<form method="post" asp-action="CreateMeal">

    <h4>Selected Foods</h4>
    <table class="table table-bordered">
        <tbody id="selectedFood"></tbody>
    </table>
</form>
<input type=text id="searchBar">
<button class="btn btn-primary" type="button" id="searchButton">Search</button>
<div id="searchResults">
</div>


<script src="~/js/foodSearch.js" type="module" asp-append-version="true"></script>
