
@{
    ViewData["Title"] = "Meal Plan";
}


<p>Welcome to the Meal Plan page!</p>
<form method="post" asp-action="Index">
    <button type="submit">Create Meal Plan</button>
</form>
<a asp-action="CreateMeal">Add Food</a>
