@{
    ViewData["Title"] = "Exercise Search";
}

<h1>Let's search our API for a workout</h1>
<!-- Moving away from multiple buttons/modals to a persistent search bar at the top of the page that persists through queries-->
<div class="input-group mb-3" id="exerciseSearchBar">
    <input type="text" class="form-control" id="exerciseInput" placeholder="Search by an exercise name ex) bench press" aria-label="Search by an exercise name" aria-describedby="exerciseSearchButtonAddon">
    <button class="btn btn-outline-secondary" type="button" id="exerciseSearchButtonAddon">Search</button>
</div>

<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dataExerciseModal">
    Exercise Search Window
</button>
-->
<!-- Modal
<div class="modal fade" id="dataExerciseModal" tabindex="-1" role="dialog" aria-labelledby="exerciseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exerciseModalLabel">Exercise Search</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="exerciseSearchForm">
                    <div data-mdb-input-init class="form">
                        <input type="text" id="exerciseInput" class="form-control" placeholder="Search by an exercise name ex) bench press" />
                        <label class="form-label" for="exerciseInput"></label>
                    </div>
                    <button type="button" id="exerciseSearchButton" data-bs-dismiss="modal" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->
<div id="exerciseSearchResults">
    
</div>

<div id="exerciseCart">

</div>
<script>
    let isLoggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
</script>
<script src="~/js/exerciseSearch.js"></script>