@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Exercise Search";
}
@inject SignInManager<IdentityUser> SignInManager


<head>
    <link rel="stylesheet" href="~/css/exerciseSearch.css" asp-append-version="true" />
</head>

<div class="exercise-search-header">
    Exercise Database
    <span>Search through our extensive collection for the perfect exercise</span>
</div>

<!-- body-part radio button group -->
<div class="btn-group mb-3" role="group" aria-label="Body part filter" id="bodyPartRadioButtons">
    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-back" value="back" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-back">Back</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-cardio" value="cardio" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-cardio">Cardio</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-chest" value="chest" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-chest">Chest</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-lower-arms" value="lower arms" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-lower-arms">Lower Arms</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-lower-legs" value="lower legs" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-lower-legs">Lower Legs</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-neck" value="neck" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-neck">Neck</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-shoulders" value="shoulders" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-shoulders">Shoulders</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-upper-arms" value="upper arms" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-upper-arms">Upper Arms</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-upper-legs" value="upper legs" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-upper-legs">Upper Legs</label>

    <input type="radio" class="btn-check" name="bodyPartOption" id="bp-waist" value="waist" autocomplete="off">
    <label class="btn btn-outline-primary" for="bp-waist">Waist</label>
</div>

<div class="row align-items-center mb-3" id="searchRow">
    <form id="exerciseSearchByNameForm">
        <div class="input-group">
            <input type="text" class="form-control" id="exerciseInput" placeholder="Search by name (ex: sit-up)" aria-label="Search by an exercise name">
            <button class="btn btn-outline-secondary" type="submit" id="exerciseSearchButtonAddon">Search</button>
        </div>
    </form>
</div>

@if (SignInManager.IsSignedIn(User) && ViewBag.WorkoutPlans.Count > 0)
{
    <div id="workoutPlanSelector">
        <label for="workoutPlanSelectorList">Select Workout Plan:</label>
        <select id="workoutPlanSelectorList">
            @if(ViewBag.WorkoutPlans != null)
            {
                foreach(var wp in ViewBag.WorkoutPlans)
                {
                    <option value="@wp.WorkoutPlanId">@wp.PlanName</option>
                }
            }
        </select>
    </div>
}

<div id="exerciseSearchResults">
</div>

<div class="modal fade" id="exerciseModal" tabindex="-1" aria-labelledby="modalExerciseName" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="modalExerciseName"><!-- Exercise Name --></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 justify-content-center align-items-center d-flex">
                        <div id="modalExerciseBackdrop">
                            <img src="" alt="Exercise Gif" id="exerciseGif">
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="modalExerciseContent">
                            <!-- Content will be populated dynamically -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="exerciseCart"></div>

<script>
    var isLoggedIn = @(User.Identity.IsAuthenticated.ToString().ToLower());
</script>
<script src="~/js/exerciseSearch.js"></script>