@{
    ViewData["Title"] = "Exercise Search";
}

<h1>Let's search our API for a workout</h1>
<!-- Moving away from multiple buttons/modals to a persistent search bar at the top of the page that persists through queries-->
<div class="input-group mb-3" id="exerciseSearchBar">
    <input type="text" class="form-control" id="exerciseInput" placeholder="Search by an exercise name ex) bench press" aria-label="Search by an exercise name" aria-describedby="exerciseSearchButtonAddon">
    <button class="btn btn-outline-secondary" type="button" id="exerciseSearchButtonAddon">Search</button>
</div>

<div id="exerciseSearchResults">
    
</div>

<div id="exerciseCart">

</div>
<script>
    let isLoggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
</script>
<script src="~/js/exerciseSearch.js"></script>