@{
    ViewData["Title"] = "Workouts schedule";
}

<body>
    <div class="container mt-5">
        <h1 class="display-4">Workout Schedule</h1>
        <p>View your workout information here.</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Workout</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>