@{
    ViewData["Title"] = "Workouts schedule";
}

<body>
    <div class="container mt-5">
        <h1 class="display-4">Workout Schedule</h1>
        <p>View your workout information here.</p>
        <a asp-action="WorkoutCreationPage" class="btn btn-success">Add Workout Plan</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Plan Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Frequency</th>
                    <th>Goal</th>
                    <th>Difficulty Level</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Week 1</td>
                    <td>Default Plan</td>
                    <td>01/01/2025</td>
                    <td>01/31/2025</td>
                    <td>3 times a week</td>
                    <td>Build Muscle</td>
                    <td>Intermediate</td>
                </tr>
                <tr>
                    <td>Week 2</td>
                    <td>Default Plan</td>
                    <td>01/01/2025</td>
                    <td>01/31/2025</td>
                    <td>3 times a week</td>
                    <td>Build Muscle</td>
                    <td>Intermediate</td>
                </tr>
                <tr>
                    <td>Week 3</td>
                    <td>Default Plan</td>
                    <td>01/01/2025</td>
                    <td>01/31/2025</td>
                    <td>3 times a week</td>
                    <td>Build Muscle</td>
                    <td>Intermediate</td>
                </tr>
                <tr>
                    <td>Week 4</td>
                    <td>Default Plan</td>
                    <td>01/01/2025</td>
                    <td>01/31/2025</td>
                    <td>3 times a week</td>
                    <td>Build Muscle</td>
                    <td>Intermediate</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>