@{
    ViewData["Title"] = "Workouts schedule";
}

<body>
    <div class="container mt-5">
        <h1 class="display-4">Workout Schedule</h1>
        <p>View your workout information here.</p>
        <a asp-action="WorkoutCreationPage" class="btn btn-success">Add Workout Plan</a>
        <a asp-action="ExerciseSearch" class="btn btn-primary">Search for an exercise</a>
    </div>
</body>