@{
    ViewData["Title"] = "Workouts schedule";
}
<h2 class="display-4">Workouts</h2>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <p>When logged in users will be able to see their created Workout plans</p>
                <p>A non registered user may still browse through our selection of excercises</p>
            </div>
        <div class="row">
            <div class="col-md-3">
                <a asp-action="ExerciseSearch" class="btn btn-primary">Search for an exercise</a>
            </div>
        </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3" id="workoutCreationActions">
                
            </div>
        </div>
    </div>
    
</body>

<script src="~/js/loadWorkoutCreationActions.js"></script>