@{
    ViewData["Title"] = "Workouts schedule";
}

<body>
    <div class="container mt-5">
        <h2 class="display-4">Workout Schedule</h2>
        <p>When logged in users will be able to see their created Workout plans</p>
        <p>A non registered user may still browse through our selection of excercises</p>
        <a asp-action="WorkoutCreationPage" class="btn btn-success">Create Workout Plan</a>
        <a asp-action="ExerciseSearch" class="btn btn-primary">Search for an exercise</a>
    </div>
</body>