@model GymBro_App.Models.WorkoutPlan

@{
    ViewData["Title"] = "Create Workout Plan";
}

<h2>Create a Workout Plan</h2>

<form asp-action="Create" method="post">
    @if (Model != null && Model.UserId.HasValue)
    {
        <input type="hidden" name="UserId" id="UserId" value="@Model.UserId"/>
    }
    <div class="form-group">
        <label asp-for="PlanName" class="control-label"></label>
        <input asp-for="PlanName" class="form-control" />
        <span asp-validation-for="PlanName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" type="date"/>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" type="date"/>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Frequency" class="control-label"></label>
        <input asp-for="Frequency" class="form-control" />
        <span asp-validation-for="Frequency" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Goal" class="control-label"></label>
        <input asp-for="Goal" class="form-control" />
        <span asp-validation-for="Goal" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DifficultyLevel" class="control-label"></label>
        <select asp-for="DifficultyLevel" class="form-control">
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
        </select>
        <span asp-validation-for="DifficultyLevel" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Workout Plan</button>
</form>
