@{
    ViewData["Title"] = "Find Nearby Gyms";
}
@using GymBro_App.Services;
@inject IGoogleMapsService GoogleMapsService
<link rel="stylesheet" href="~/css/UserPage.css" />
<link rel="stylesheet" href="~/css/Gym.css" />

<div class="container">
    <h1 class="mb-4 pt-4">Nearby Gyms</h1>
    <hr/>
    <div>
        <partial name="../UserPage/_ProfileNav" />
    </div>
    <div class="row d-flex align-items-stretch">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex flex-column">
            <form id="nearby-gym-search-form" data-user-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">
                <div class="input-group">
                    <input type="number" id="postal-code-gym-search" value="" class="form-control" placeholder="Enter a postal code" required />
                    <span id="set-gym-location-span" class="input-group-text">
                        <button class="btn" id="set-location-button" type="button"><i class="fa-solid fa-location-dot"></i></button>
                    </span>
                    <button id="postal-code-gym-search-button" type="submit" class="btn btn-primary ms-1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <h5 id="nearby-gyms-results-header" class="mb-3 text-center">Find a gym near you</h5>
            <div id="nearby-gym-search-list"><!-- This is where the search results go --></div>
        </div>
        
        <div class="col-xs-0 col-sm-0 col-md-0 col-lg-8 col-xl-8 flex-column">
            <div id="nearby-gyms-map"></div>
        </div>
    </div>
</div>

<script>var isLoggedIn = @(User.Identity.IsAuthenticated.ToString().ToLower())</script>
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@(await GoogleMapsService.GetGoogleMapsApiKey())"></script>
    <script type="text/javascript" src="~/js/userLocation.js"></script>
}