@{
    ViewData["Title"] = "Find Nearby Gyms";
}
<link rel="stylesheet" href="~/css/Gym.css" />

<div class="container">
    <h1 class="mb-4 pt-4">Nearby Gyms</h1>
    <hr/>
    <div>
        @Html.Partial("../UserPage/_ProfileNav")
    </div>
    <div class="row d-flex align-items-stretch">
        <div class="col-4 col-md-4 d-flex flex-column">
            <form id="nearby-gym-search-form" class="mb-3 col-sm-12">
                <div class="input-group">
                    <input type="number" id="postal-code-gym-search" value="" class="form-control" placeholder="Enter a postal code" required />
                    <span id="set-gym-location-span" class="input-group-text">
                        <button class="btn" id="set-location-button" type="button"><i class="fa-solid fa-location-dot"></i></button>
                    </span>
                    <button type="submit" class="btn btn-primary ms-1">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <h5 id="nearby-gyms-results-header" class="mb-3 text-center">Find a gym near you</h5>
            <div id="nearby-gym-search-list"><!-- This is where the search results go --></div>
        </div>
        
        <div class="col-8 col-md-8 d-flex flex-column">
            <iframe
                id="nearby-gyms-map"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src=""
                allowfullscreen
            ></iframe>
            @* <button class="btn btn-primary mt-3" id="set-location-button">Find My Location</button> *@
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/userLocation.js"></script>
}