@{
    ViewData["Title"] = "Find Nearby Gyms";
}
<link rel="stylesheet" href="~/css/Gym.css" />

<div class="container">
    <h1 class="text-center">Find a gym near you</h1>
    <hr/>
    <div class="row">
        <div class="col-4 col-md-4 d-flex flex-column">
            <form id="nearby-gym-search-form" class="mb-3 col">
                <div class="row g-0">
                    <div class="col me-0 pe-0">
                        <input type="text" id="search-input" class="form-control" placeholder="Enter a postal code" required />
                    </div>
                    <div class="col-auto ms-0 pe-0">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </form>
            <div id="nearby-gym-search-list"><!-- This is where the search results go --></div>
        </div>
        
        <div class="col-8 col-md-8 d-flex flex-column">
            <iframe
                id="nearby-gyms-map"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src=""
                allowfullscreen
            ></iframe>
            <button class="btn btn-primary my-3" id="set-location-button">Set My Location</button>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/userLocation.js"></script>
}