@{
    ViewData["Title"] = "Workout Schedule";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/GymBro_App.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container mt-5">
        <h1 class="display-4">Workout Schedule</h1>
        <p>Plan your workouts for the week.</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Workout</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td id="monday-workout"></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td id="tuesday-workout"></td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td id="wednesday-workout"></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td id="thursday-workout"></td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td id="friday-workout"></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td id="saturday-workout"></td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td id="sunday-workout"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>